body{
    height: 100vh;
}
.seb7a{
    height: calc(100vh - (83px + 64px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.seb7a .count{
    width: 200px;
    padding: 20px;
}
.seb7a .count span{
    width: 200px;
    text-align: center;
}
.seb7a .add{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-weight: bold;
    letter-spacing: 1px;
}
.seb7a .reset{
    margin-bottom: 20px;
}